[tool.poetry]
name = "metaphor-connectors"
version = "0.10.94"
license = "Apache-2.0"
description = "A collection of Python-based 'connectors' that extract metadata from various sources to ingest into the Metaphor app."
authors = ["Metaphor <dev@metaphor.io>"]
packages = [
    { include = "metaphor" },
]

[tool.poetry.dependencies]
asyncpg = { version = "^0.25.0", optional = true }
aws-assume-role-lib = "^2.9.0"
boto3 = "^1.20.45"
botocore = "^1.23.45"
canonicaljson = "^1.4.0"
fastjsonschema = "^2.15.1"
google-api-python-client = { version = "^2.36.0", optional = true }
google-auth-oauthlib = { version = "^0.5.0", optional = true }
google-cloud-bigquery = { version = "^2.21.0", optional = true }
google-cloud-logging = { version = "^2.7.0", optional = true }
lkml = { version = "^1.2.0", optional = true }
looker-sdk = { version = "^22.4.0", optional = true }
metaphor-models = "^0.7.9"
msal = { version = "^1.17.0", optional = true }
pydantic = "^1.9.0"
python = ">=3.7,<3.11"  # See https://github.com/googleapis/python-bigquery/issues/856
python-dateutil = "^2.8.1"
PyYAML = "^6.0"
requests = "^2.27.1"
slack-sdk = { version = "^3.5.1", optional = true }
smart-open = "^5.0.0"
snowflake-connector-python = { version = "~=2.7.0", optional = true }
sql-metadata = { version = "2.3.0", optional = true }
tableauserverclient = { version = "^0.17.0", optional = true }
thoughtspot-rest-api-sdk = { version = "^1.9.0", optional = true }

[tool.poetry.extras]
all = [
  "asyncpg",
  "google-api-python-client",
  "google-auth-oauthlib",
  "google-cloud-bigquery",
  "google-cloud-logging",
  "lkml",
  "looker-sdk",
  "msal",
  "pyserde",
  "slack-sdk",
  "snowflake-connector-python",
  "sql-metadata",
  "tableauserverclient",
  "thoughtspot-rest-api-sdk",
]
bigquery = ["google-cloud-bigquery", "google-cloud-logging", "sql-metadata"]
dbt = []
google_directory = ["google-api-python-client", "google-auth-oauthlib"]
looker = ["lkml", "looker-sdk", "sql-metadata"]
metabase = ["sql-metadata"]
postgresql = ["asyncpg"]
power_bi = ["msal"]
redshift = ["asyncpg"]
slack_directory = ["slack-sdk"]
snowflake = ["snowflake-connector-python", "sql-metadata"]
tableau = ["tableauserverclient"]
throughtspot = ["thoughtspot-rest-api-sdk"]

[tool.poetry.dev-dependencies]
apache-airflow = "^2.3.0"
bandit = "^1.7.2"
black = "^22.1"
datamodel-code-generator = { extras = ["http"], version = "^0.11.14" }
flake8 = "^4.0.1"
freezegun = "^1.1.0"
isort = "^5.8.0"
mypy = "^0.931"
pytest = "^6.2.2"
pytest-asyncio = "^0.18.0"
pytest-cov = "^3.0.0"
types-attrs = "^19.1.0"
types-freezegun = "^0.1.4"
types-pytz = "^2021.3.4"
types-PyYAML = "^6.0.4"
types-requests = "^2.25.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_mode = "strict"

[tool.black]
exclude = "^/(metaphor/dbt/generated/.+)"

[tool.isort]
profile = "black"
extend_skip = [
  ".serverless",
  "dbt_manifest.py",
  "dbt_catalog.py"
]

[tool.mypy]
exclude = ["venv"]
ignore_missing_imports = true
plugins = ["pydantic.mypy"]

[tool.bandit]
exclude_dirs = ["venv"]
skips = ['B101', 'B106', 'B608']
