[tool.poetry]
name = "metaphor-connectors"
version = "0.8.6"
description = ""
authors = ["Metaphor <dev@metaphor.io>"]
packages = [
    { include = "metaphor" },
]

[tool.poetry.dependencies]
asyncpg = { version = "~=0.22.0", optional = true }
aws-assume-role-lib = "^1.3.0"
boto3 = "~=1.17.53"
botocore = "~=1.20.53"
canonicaljson = "^1.4.0"
fastjsonschema = "~=2.15.1"
google-api-python-client = { version = "~=2.2.0", optional = true }
google-auth-oauthlib = { version = "~=0.4.4", optional = true }
google-cloud-bigquery = { version = "^2.21.0", optional = true }
lkml = { version = "^1.1.0", optional = true }
looker-sdk = { version = "^21.4.1", optional = true }
metaphor-models = "^0.6.7"
pydantic = { version = "^1.8.2", optional = true }
pyserde = { extras = ["yaml"], version = "^0.4.0" }
python = ">=3.7,<3.10"  # See https://github.com/googleapis/python-bigquery/issues/856
python-dateutil = "~=2.8.1"
requests = "^2.25.1"
slack-sdk = { version = "^3.5.1", optional = true }
smart-open = "^5.0.0"
snowflake-connector-python = { version = "~=2.4.1", optional = true }
sql-metadata = { version = "2.2.2", optional = true }

[tool.poetry.extras]
all = [
  "asyncpg",
  "google-api-python-client",
  "google-auth-oauthlib",
  "google-cloud-bigquery",
  "lkml",
  "looker-sdk",
  "slack-sdk",
  "snowflake-connector-python",
  "sql-metadata",
]
bigquery = ["google-cloud-bigquery"]
dbt = ["pydantic"]
postgresql = ["asyncpg"]
snowflake = ["snowflake-connector-python", "sql-metadata"]
google_directory = ["google-api-python-client", "google-auth-oauthlib"]
looker = ["lkml", "looker-sdk", "sql-metadata"]
slack_directory = ["slack-sdk"]

[tool.poetry.dev-dependencies]
black = "^20.8b1"
datamodel-code-generator = { extras = ["http"], version = "^0.11.14" }
flakehell = "^0.9.0"
flake8 = "3.9.0"
freezegun = "^1.1.0"
isort = "^5.8.0"
mypy = "^0.910"
pytest = "^6.2.2"
pytest-asyncio = "^0.14.0"
types-freezegun = "^0.1.4"
types-requests = "^2.25.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
exclude = "^/(metaphor/dbt/generated/.+)"

[tool.isort]
profile = "black"
extend_skip = [
  ".serverless",
  "dbt_manifest.py",
  "dbt_catalog.py"
]

[tool.flakehell]
format = "colored"

[tool.flakehell.plugins]
pycodestyle = ["+*", "-E203", "-E501", "-W503"]
pyflakes = ["+*"]

[tool.flakehell.exceptions."metaphor/dbt/generated/"]
pycodestyle = ["-*"]
pyflakes = ["-*"]

[tool.mypy]
ignore_missing_imports = true
